/* Basic CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  font-family: "Inter", sans-serif;
  font-size: 1rem;

  color: white;
  background-color: hsl(217, 28%, 15%);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* Screen Reader Only Text */
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* Full Width Container */
.max-width-wrapper {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
  /* border: 1px dotted peru; */
}

/* NAVBAR */
.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.nav__logo {
  margin-right: auto;
}
.nav__list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

/* HEADER */
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: transparent;
}
.header::after {
}
.header .hero__image {
  margin-bottom: 2rem;
}
.hero-heading {
  text-align: center;
  margin-bottom: 2rem;
}
.hero-paragraph {
  max-width: 50ch;
  text-align: center;
  margin-bottom: 1rem;
}

/* FEATURES */
.features {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}
.feature__box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
  padding: 0.5rem;
}

.feature__box .feature__image {
  max-width: 3.5rem;
  max-height: 3.5rem;
  aspect-ratio: 1;
  object-fit: contain;
}

.feature__box p {
  text-align: center;
  font-size: 0.875rem;
  max-width: 40ch;
}
