:root {
  /* Primary */
  /* intro and email sign up background):  */
  --color-dark-blue-: hsl(217, 28%, 15%);
  --color-main-background: hsl(218, 28%, 13%);
  --color-footer-background: hsl(216, 53%, 9%);
  --color-testimonials-background: hsl(219, 30%, 18%);

  /* - Cyan (inside call-to-action gradient):  */
  --color-cyan: hsl(176, 68%, 64%);
  /* - Blue (inside call-to-action gradient):  */
  --color-blue: hsl(198, 60%, 50%);
  --color-error: hsl(0, 100%, 63%);

  --color-white: hsl(0, 0%, 100%);
}
/* Basic CSS Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;

  font-family: "Inter", sans-serif;
  font-size: 1rem;

  color: var(--color-white);
  background-color: var(--color-main-background);
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* Screen Reader Only Text */
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/* Full Width Container */
.max-width-wrapper {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 1rem;
  /* border: 1px dotted peru; */
}

/* NAVBAR */
.nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
}
.nav__logo {
  margin-right: auto;
}
.nav__list {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav__item .nav__link:link,
.nav__item .nav__link:visited {
  color: var(--color-white);
  text-decoration: none;
  border-bottom: 1px solid transparent;
}

.nav__item .nav__link:hover,
.nav__item .nav__link:active {
  color: var(--color-white);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
}
/* HEADER */
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
  /* background-color: ; */
}
/* .header::after {
  content: "";
  display: block;
  position: absolute;
  background-color: var(--color-dark-blue-);
  height: 100%;
  width: 100vw;
  z-index: -1;
} */
.header .hero__image {
  margin-bottom: 2rem;
}
.hero-heading {
  text-align: center;
  margin-bottom: 2rem;
}
.hero-paragraph {
  max-width: 50ch;
  text-align: center;
  margin-bottom: 1rem;
}

/* FEATURES */
.features {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 8rem;
}
.feature__box {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
}

.feature__box .feature__image {
  max-width: 3.5rem;
  max-height: 3.5rem;
  aspect-ratio: 1;
  object-fit: contain;
}

.feature__box p {
  text-align: center;
  /* font-size: 0.875rem; */
  max-width: 40ch;
}

/* STAY PRODUCTIVE */
.productive {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem;
}

.productive__img-wrapper {
  flex: 1 0 40%;
  min-width: 20rem;
}
.productive__text-box {
  flex: 1 0 40%;
  min-width: 20rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.underline-link:link,
.underline-link:visited {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: aquamarine;
  align-self: flex-start;
  display: flex;
  gap: 0.5rem;
}

.underline-link:hover,
.underline-link:active {
  border-bottom: 1px solid;
}

.underline-link::after {
  content: "\2192";
  align-self: center;
}

/* TESTIMONIALS */
.testimonials {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;

  padding: 2rem 0;
}

.testimonial:first-of-type::before {
  position: absolute;
  content: "\201C";
  font-size: 10rem;
  font-family: sans-serif;
  left: -0.5rem;
  top: 2rem;
  line-height: 0;
  z-index: -1;
}

.testimonial {
  position: relative;
  flex: 1 0 30%;
  padding: 2rem 1rem 1rem 1rem;
  background-color: hsl(219, 30%, 18%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  min-width: 20rem;
}

.testimonial > p {
  font-size: 0.875rem;
}

.author-box {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.author__img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.author__name {
  font-size: 0.875rem;
}
.author__position {
  font-size: 0.75rem;
}

/* CTA NEWSLETTER */
.main {
  position: relative;
  padding-bottom: 16rem;
  background-color: hsl(218, 28%, 13%);
}

.cta {
  padding: 2rem 4rem;

  position: absolute;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* align-items: center; */
  /* justify-content: flex-start; */
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
  text-align: center;
  background-color: hsl(219, 30%, 18%);
  border-radius: 5px;
}

.cta > p {
  font-size: 0.875rem;
}

.cta-form {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}
.cta-form > * {
  flex: 1 0 44%;
}
.cta-form > input {
  border-radius: 50px;
  border: 0;
  justify-self: stretch;
  align-self: stretch;
  padding: 0.5rem 10px;
}

/* .cta-form > button {
  border-radius: 50px;
  border: 0;
  padding: 0.5rem 1rem;
} */
/* FOOTER */

.footer {
  padding-top: 12rem;
  background-color: hsl(216, 53%, 9%);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  justify-content: space-between;
}
.footer > * {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  align-items: flex-start;
}
.footer__about {
  list-style: none;
}
.footer__contacts {
  list-style: none;
}
.footer__about {
  list-style: none;
}
.footer__legal {
  list-style: none;
}
.footer__social-links {
  list-style: none;
  flex-direction: revert;
  justify-self: end;
}

.footer__link:link,
.footer__link:visited {
  color: aliceblue;
  text-decoration: none;
}

.footer__link:hover,
.footer__link:active {
  text-decoration: underline;
}

/* Footer Icons */
.footer__social-item a {
  display: flex;
  width: 2rem;
  height: 2rem;
  border: 1px solid white;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.footer__social-item a svg {
  fill: white;
}

.before__icon--map {
  display: flex;
  gap: 0.25rem;
  align-items: flex-start;
}
.before__icon--phone,
.before__icon--email {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.before__icon--map::before {
  /* content: url("./images/icon-location.svg"); */
}
.before__icon--phone::before {
  content: url("./images/icon-phone.svg");
}
.before__icon--email::before {
  content: url("./images/icon-email.svg");
}

/* BUTTONS */

.btn {
  border-radius: 50px;
  border: 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
  color: var(--color-white);
  background-color: var(--color-blue);
  transition: background-color 0.3s;
}

.btn-primary {
  padding: 0.5rem 3rem;
}

.btn:hover {
  background-color: var(--color-cyan);
}

/* Media Queries */
@media only screen and (max-width: 35em) {
  .nav {
    flex-direction: column;
    gap: 2rem;
    align-items: end;
  }

  .nav__logo {
    margin-right: 0;
  }

  .footer__social-links {
    justify-self: revert;
  }
}
